.menu{
   list-style: none;
   padding: 0px;
   margin: 0px;
   width: 300px;
   border-left: 12px solid lightgreen;
}
.menu a{
    text-decoration: none;
    color: blue;
    display: block;
    padding: 5px 10px;
}
.menu > li > a{
    border: 1px solid #000;
}
.menu > li:hover {
    background-color: green;
}